* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }
  i {
    color: inherit;
  }
  .bg-dark {
    background-color:  white !important;
    outline: 5px solid rgb(201, 4, 135);
  }
  body {
    background-color: rgb(61, 87, 156);
  }
  
  .dropdown-item:focus,
  .dropdown-item:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(201, 4, 135);
    transition-duration: 0.5s;
    padding-left: 30px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(201, 4, 135);
  }
  .dropdown-item {
    color: white;
  }
  .dropdown-menu {
    background-color: #343a40ea;
  }
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(7, 7, 160);
  }
  .navbar-dark .navbar-brand {
    color:  rgb(201, 4, 135);
    cursor: default;
  }
  .navbar-dark .navbar-brand:focus,
  .navbar-dark .navbar-brand:hover {
    color: rgb(7, 7, 160);
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: rgb(201, 4, 135);
    cursor: default;
  }
  .intro {
    font-size: 250%;
    color: rgb(255, 255, 255);
    font-family: "Ink Free";
    padding: 30px 30%;
  }
  .jumbotron {
    background-image: url(my-images/webgirl.jpg);
    background-size: cover;
    width: 100%;
    margin-bottom: 100px;
    outline: 5px solid rgb(201, 4, 135);
  }
  .os {
    margin-top: 80px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .cr {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .text-center {
    font-size: 200%;
    text-align: center;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }
  .flex a {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    display: block;
    font-size: 200%;
  }
  .flex a:hover {
    text-decoration: none;
    color: yellowgreen;
  }
  .om {
    margin-bottom: 60px;
  }
  