* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }
  i {
    color: inherit;
  }
  .bg-dark {
    background-color: white !important;
    outline: 5px solid rgb(201, 4, 135);
  }
  body {
    background-color: rgb(61, 87, 156);
  }


  
  .dropdown-item:focus,
  .dropdown-item:hover {
    text-decoration: none;
    color: black;
    background-color:rgb(201, 4, 135);
    transition-duration: 0.5s;
    padding-left: 30px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color:rgb(201, 4, 135);
  }
  .dropdown-item {
    color:white;
  }
  .dropdown-menu {
    background-color: #343a40ea;
  }
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(7, 7, 160);
  }
  .navbar-dark .navbar-brand {
    color: rgb(201, 4, 135);
    cursor: default;
  }
  .navbar-dark .navbar-brand:focus,
  .navbar-dark .navbar-brand:hover {
    color: rgb(7, 7, 160);
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: rgb(201, 4, 135);
    cursor: default;
  }
  .intro {
    font-size: 250%;
    color: white;
    font-family: "Ink Free";
    padding: 30px 15%;
  }
  .jumbotron {
    background-image: url(my-images/coph.jpg);
    background-size: cover;
    width: 100%;
    outline: 5px solid rgb(201, 4, 135);
  }
  .sos {
    color:rgb(201, 4, 135);
    font-size: 120%;
    padding-top: 10vh;
  }
  .sos h3 {
    font-size: 140%;
    margin-bottom: 30px;
  }
  .os {
    margin-top: 80px;
    margin-bottom: 40px;
    color: rgb(33, 209, 71);
    font-size: 350%;
    text-align: center;
  }
  .mara {
    margin-bottom: 40px;
  }
  .mlt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .marg {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .gree {
    color:  rgb(33, 209, 71);
  }
  .mara p {
    color: white;
  }
  .cr {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }